html, body{
    height: 100%;
}
.container{
    height: 100%;
	text-align:center;
}
.directions{
	text-align:left;
}

.control #url{
	width:90%;
}
.control .output textarea{
	width: 100%;
	height: 200px;
	background-color: #000;
	color: #fff;
}
#area{
	height:50%;
}
#area iframe{
	width:100%;
	height:100%;
}